.single {
  padding: 2px 16px;
  background: rgb(228, 227, 227);
  display: block;
  margin: 20px 10px;
  border-left: 8px solid rgb(146, 132, 132);
}
.single:hover {
  border-left: 8px solid #4979ff;
}
